* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'VT323', monospace;
}

body  {
  background: black; 
  padding: 40px;
  color: white;
}

footer {
  position: absolute;
  bottom: 40px;
}

footer a {
  color: white;
  text-decoration: underline;
}

.keycode {
  font-size: 30px;
}

.cursor {
  color: white;
  font-size: 40px;
  animation: 1s blink step-end infinite;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to { color: transparent; }
  50% { color: white; }
}

@-moz-keyframes blink {
  from, to { color: transparent; }
  50% { color: white; }
}

@-webkit-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: white; }
}

@-ms-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: white; }
}

@-o-keyframes "blink" {
  from, to { color: transparent; }
  50% { color: white; }
}
